#costos{
  width: 77%;
}

@media screen and (orientation: portrait) {
  #costos {
    width: 97%;
  }
}

#banner{
  width: 72%;
}

@media screen and (orientation: portrait) {
  #banner {
    width: 92%;
  }
}
