<section class="bef bef-mb-5rem">
  <div class="bef bef-d-flex fleDir-column bef-p-1rem">
    <h2 class="bef bef-d-flex jusCon-center bef-text-novo bef-fs-20px bef-fontWeight-700 bef-w-100per ">
      LIRAGLUTIDA 3.0 MG PARA EL TRATAMIENTO DE PACIENTES CON OBESIDAD
    </h2>
    <div class="bef bef-d-flex jusCon-center">

        <div class="bef bef-w-50per">
          <img
            src="./assets/img/Saxenda_PS.png"
            alt="Saxenda 1"
            class="bef bef-w-75per objFit-contain bef-p-1rem  "
          />
          <img
            src="./assets/img/Saxenda_PS2.png"
            alt="Saxenda 1"
            class="bef bef-position-relative bef-w-75per objFit-contain bef-p-1rem bef-ms-60px bef-mt-MIN180px"
          />
        </div>

      <div class="bef bef-d-flex fleDir-column bef-mt-1rem bef-h-100per bef-w-40per">
        @for (treatmentTitle of treatmentTitles; track treatmentTitle.title) {
        <h4
          class="bef bef-w-70per bef-d-flex jusCon-between bef-my-2px bef-ms-0_5rem  "
        >
          <span
            class="bef bef-w-auto bef-fs-14px bef-fontWeight-600 bef-me-5px bef-d-flex bef-opacity-0_5"
            ><p class="bef bef-m-0">{{ treatmentTitle.title }}</p></span
          >
          <span
            class="bef bef-w-9rem bef-fontWeight-800 bef-d-flex bef-text-novo "
            ><p class="bef bef-m-0">{{ treatmentTitle.description }}</p></span
          >
        </h4>
        }
      </div>
    </div>



    <div class="bef bef-d-flex fleDir-column"></div>

  </div>
</section>
<div
  class="bef bef-d-flex jusCon-fleEnd aliIte-center bef-mt-MIN175px bef-me-MIN185px"
>
  <div
    class="bef bef-w-180px bef-d-inline"
    [innerHTML]="person | safeHtml"
  ></div>
</div>
<hr class="bef bef-border-1px__solid__white bef-w-80per bef-mt-0">
