<section class="bef bef-mb-5rem">
  <div class="bef bef-d-flex fleDir-column bef-p-1rem">
    <h2 class="bef bef-text-novo bef-fontWeight-900">
      LIRAGLUTIDA 3.0 MG PARA EL TRATAMIENTO DE PACIENTES CON OBESIDAD
    </h2>
    <div class="bef bef-d-flex aliIte-center jusCon-fleStart">
      <img
        src="./assets/img/Saxenda_PS.png"
        alt="Saxenda 1"
        class="bef bef-w-50per objFit-contain bef-p-1rem bef-me-MIN295px "
      />
      <img
        src="./assets/img/Saxenda_PS2.png"
        alt="Saxenda 1"
        class="bef bef-w-50per objFit-contain bef-p-1rem bef-mb-MIN125px bef-ms-MIN6_25per bef-h-120px"
      />
      <div class="bef bef-h-100per bef-w-55per">
        @for (treatmentTitle of treatmentTitles; track treatmentTitle.title) {
        <h4
          class="bef bef-d-flex jusCon-center bef-ms-0_5rem aliCon-center bef-text-novo"
        >
          <span
            class="bef bef-me-5rem bef-w-15per bef-fontWeight-500 bef-d-flex jusCon-fleStart"
            ><u>{{ treatmentTitle.title }}</u></span
          >
          <span
            class="bef bef-w-65per bef-fontWeight-800 bef-d-flex jusCon-fleStart "
            >{{ treatmentTitle.description }}</span
          >
        </h4>
        }
      </div>
    </div>



    <div class="bef bef-d-flex fleDir-column"></div>
    <span class="bef bef-d-flex fleDir-row jusCon-center">
      <h3 class="bef texAli-center bef-m-1rem">
        Costo Anual de Tratamiento <br />
        con Liraglutida 3.0 mg
      </h3>
      <p
        class="bef bef-d-flex aliIte-center bef-m-1rem bef-text-rovo bef-fs-1_5rem"
      >
        {{ anualCost | currency }}
      </p>
    </span>
  </div>
  <div
    class="bef bef-d-flex jusCon-fleEnd aliIte-center bef-mt-MIN300px bef-me-MIN125px"
  >
    <div
      class="bef bef-w-180px bef-d-inline"
      [innerHTML]="person | safeHtml"
    ></div>
  </div>
</section>
