<main>
  <div
    class="bef bef-w-75per bef-bg-nord bef-p-1rem bef-d-flex fleDir-column aliIte-center"
  >
    <h2 class="bef bef-d-flex jusCon-center bef-text-novo bef-mt-5rem">
      Ingrese sus datos y cree su cuenta
    </h2>
  <!-- FIXME: averiguar como poder acomodar bien los inputs -->
    <div class="bef bef-d-flex fleDir-row bef-p-3rem">
      @for (input of inputs; track $index) {
      <generic-input
        class=""
        [lableName]="input.lableName"
        [typeName]="input.typeName"
        [placeHolderName]="input.placeHolderName"
      ></generic-input>
      }
    </div>
    <generic-button
        [buttonClass]="
          'bef-d-flex aliIte-center texAli-center jusCon-center bef-w-35vw bef-m-0_8rem'
        "
        [buttonBGColor]="'novo'"
        [buttonInner]="getHtml('register')"
        [buttonTextColor]="'white'"
        [buttonType]="'rounded'"
        (buttonClick)="submit()"
      ></generic-button>
    <footer class="bef bef-pt-1rem"><p>¿Ya tienes cuenta? <a href="#">Iniciar sesión</a></p></footer>
  </div>
</main>
