<section class="bef bef-mb-2rem bef-p-1rem">
  <h2
    class="bef bef-d-flex jusCon-center bef-w-100per bef-color-novo bef-fs-20px bef-fontWeight-700 bef-pt-1rem bef-me-3rem bef-mb-2rem bef-h-auto"
  >
    COSTO ANUAL DE MODIFICACIÓN DEL ESTILO DE VIDA
  </h2>
  <div class="bef bef-p-1rem bef-mb-3rem mat-elevation-z4">
    <mat-tab-group (selectedTabChange)="selectedTab($event)">
      @for(tab of tabs; track tab; let i = $index) {
      <mat-tab label="{{ tab.title }}">
        <div class="bef bef-d-flex fleDir-column aliIte-center">
          <h3 class="bef bef-d-flex jusCon-center bef-w-100per bef-color-novo bef-fs-18px">
            {{ tab.title }}
          </h3>
          <div class="bef bef-d-flex fleDir-row jusCon-center">
            <generic-input
              id="{{ i }}"
              [type]="'number'"
              [labelTitle]="tab.inputLable"
              [labelClasses]="'bef bef-color-disk bef-fs-16px bef-fontWeight-700 texAli-center'"
              [inputClasses]="'bef bef-fs-18px bef-fontWeight-700 bef-color-novo texAli-center'"
              [thingFather]="{
                months:
                  tab.type === 'nutrition'
                    ? nutritionMonths
                    : tab.type === 'psychology'
                    ? psychologyMonths
                    : tab.type === 'physicalActivity'
                    ? physicalActivityMonths
                    : tab.type === 'infirmary'
                    ? infirmaryMonths
                    : 0
              }"
              [thing]="'months'"
              [containerClasses]="
                'bef bef-transformSEL__label-translateYSDMIN110perED bef-bgSEL___mdcMINtextMINfieldMINMINfilledDPSnotSD_mdcMINtextMINfieldMINMINdisabledED-white bef-borderBottomSEL___matMINmdcMINtextMINfieldMINwrapper-0_25rem__solid__novo  bef-dSEL___mdcMINlineMINripple-none'
              "
              (changesInput)="monthInChange($event.months, tab.type)"
            ></generic-input>
            <div class="bef bef-w-3rem"></div>
            <generic-span
              [title]="'Costo Unitario'"
              [titleClasses]="'bef bef-p-0_2rem bef-fontWeight-700 bef-color-disk '"
              [info]="tab.spanNumber | currency"
              [textClasses]="'bef bef-m-0 bef-fs-18px bef-fontWeight-700 bef-color-novo texAli-center'"
              [filledClasses]="
                'bef  bef-d-flex fleDir-column jusCon-center aliIte-center bef-borderBottom-0_25rem__solid__novo bef-rt-0_5px bef-bg-white bef-w-12rem bef-h-3_5rem bef-px-0_5rem'
              "
              [emptyClasses]="
                'bef bef-d-flex fleDir-column jusCon-center aliIte-center bef-borderBottom-0_25rem__solid__novo  bef-rt-0_5px bef-bg-white bef-w-12rem bef-h-3_5rem bef-px-0_5rem'
              "
            ></generic-span>
          </div>
        </div>
      </mat-tab>
      }
    </mat-tab-group>
  </div>
  <div class="bef bef-d-flex fleDir-row jusCon-center">
    <generic-span
      [title]="'Modificación de Estilo de Vida'"
      [titleClasses]="
        'bef bef-color-disk bef-fs-14px bef-fontWeight-700 texAli-center '
      "
      [textClasses]="'bef bef-color-novo bef-m-0 bef-fs-18px bef-fontWeight-700 texAli-center bef-mt-16px bef-pt-4px'"
      [info]="totalAnualCost | currency"
      [filledClasses]="
        'bef bef-d-flex jusCon-center aliIte-center bef-borderBottom-0_25rem__solid__oranvo bef-rt-0_5px bef-bg-white bef-w-11_7rem bef-h-3rem bef-p-0_5rem'
      "
      [emptyClasses]="
        'bef bef-d-flex  bef-borderBottom-0_25rem__solid__oranvo  bef-rt-0_5px bef-bg-white bef-w-11_7rem bef-h-3rem bef-p-0_5rem'
      "
    ></generic-span>
    <div class="bef bef-w-3rem"></div>
    <generic-span
      [title]="'Liraglutida + Modificación de Estilo de Vida'"
      [titleClasses]="
        'bef bef-color-disk bef-fs-14px bef-fontWeight-700 texAli-center '
      "
      [textClasses]="'bef bef-color-novo bef-m-0 bef-fs-18px bef-fontWeight-700 texAli-center bef-mt-4px'"
      [info]="totalAnualCostPlusLiraglutide | currency"
      [filledClasses]="
        'bef-d-flex jusCon-center aliIte-center bef-borderBottom-0_25rem__solid__oranvo bef-rt-0_5px bef-bg-white bef-w-11_7rem bef-h-3rem bef-p-0_5rem'
      "
      [emptyClasses]="
        'bef bef-d-flex  bef-borderBottom-0_25rem__solid__oranvo  bef-rt-0_5px bef-bg-white bef-w-11_7rem bef-h-3rem bef-p-0_5rem'
      "
    ></generic-span>
  </div>
  @if (multi[0]) {
  <ngx-charts-bar-vertical
    class="bef bef-mx-auto bef-d-none bef-w-500px"
    [view]="view"
    [scheme]="colorScheme"
    [results]="multi"
    [gradient]="gradient"
    [xAxis]="showXAxis"
    [yAxis]="showYAxis"
    [legend]="showLegend"
    [showXAxisLabel]="showXAxisLabel"
    [showYAxisLabel]="showYAxisLabel"
    [xAxisLabel]="xAxisLabel"
    [yAxisLabel]="yAxisLabel"
    [legendPosition]="legendPosition"
    [legendTitle]="legendTitle"
    [barPadding]="barPadding"
    [showDataLabel]="showDataLabel"
    [yScaleMax]="yScaleMax"
    (select)="onSelect($event)"
    (activate)="onActivate($event)"
    (deactivate)="onDeactivate($event)"
  >
  </ngx-charts-bar-vertical>
  }
  <div
    class="bef bef-d-flex jusCon-fleEnd aliIte-center bef-mt-MIN340px bef-me-MIN190px bef-mb-100px"
  >
    <div
      class="bef bef-w-180px bef-d-inline"
      [innerHTML]="person | safeHtml"
    ></div>
  </div>
</section>
<hr class="bef bef-border-1px__solid__white bef-w-80per bef-mt-10rem bef-mb-4rem">
