<section class="bef bef-mb-2rem bef-p-1rem">
  <h2
    class="bef bef-w-20per bef-color-novo bef-fontWeight-900 bef-pt-1rem bef-me-3rem bef-mb-2rem bef-h-auto"
  >
    COSTO ANUAL <wbr />DE TRATAMIENTO
  </h2>
  <div class="bef bef-p-1rem bef-mb-3rem">
    <mat-tab-group (selectedTabChange)="selectedTab($event)">
      @for(tab of tabs; track tab; let i = $index) {
      <mat-tab label="{{ tab.title }}">
        <div class="bef bef-d-flex fleDir-column aliIte-center">
          <h3 class="bef bef-d-flex jusCon-center bef-w-100per">
            {{ tab.title }}
          </h3>
          <div class="bef bef-d-flex fleDir-row jusCon-center">
            <generic-input
              id="{{ i }}"
              [type]="'number'"
              [labelTitle]="tab.inputLable"
              [thingFather]="{
                months:
                  tab.type === 'nutrition'
                    ? nutritionMonths
                    : tab.type === 'psychology'
                    ? psychologyMonths
                    : tab.type === 'physicalActivity'
                    ? physicalActivityMonths
                    : tab.type === 'infirmary'
                    ? infirmaryMonths
                    : 0
              }"
              [thing]="'months'"
              [containerClasses]="
                'bef bef-transformSEL__label-translateYSDMIN110perED bef-bgSEL___mdcMINtextMINfieldMINMINfilledDPSnotSD_mdcMINtextMINfieldMINMINdisabledED-white bef-borderBottomSEL___matMINmdcMINtextMINfieldMINwrapper-0_25rem__solid__novo  bef-dSEL___mdcMINlineMINripple-none'
              "
              (changesInput)="monthInChange($event.months, tab.type)"
            ></generic-input>
            <div class="bef bef-w-3rem"></div>
            <generic-span
              [title]="'Costo Unitario'"
              [titleClasses]="'bef bef-p-0_2rem'"
              [info]="'$' + tab.spanNumber"
              [textClasses]="'bef bef-m-0'"
              [filledClasses]="
                'bef bef-d-flex  bef-borderBottom-0_25rem__solid__novo bef-rt-5px bef-bg-white bef-w-12rem bef-h-3_5rem bef-px-0_5rem'
              "
              [emptyClasses]="
                'bef bef-d-flex  bef-borderBottom-0_25rem__solid__novo  bef-rt-5px bef-bg-white bef-w-12rem bef-h-3_5rem bef-px-0_5rem'
              "
            ></generic-span>
          </div>
        </div>
      </mat-tab>
      }
    </mat-tab-group>
  </div>

  <div class="bef bef-d-flex fleDir-row jusCon-center">
    <generic-span
      [title]="'Modificación de Estilo de Vida'"
      [titleClasses]="'bef bef-d-flex fleDir-column jusCon-between aliIte-center'"
      [textClasses]="'bef bef-m-0 bef-fontWeight-700'"
      [info]="'$' + totalAnualCost"
      [filledClasses]="
        'bef bef-d-flex  bef-borderBottom-0_25rem__solid__oranvo bef-rt-5px bef-bg-white bef-w-15rem bef-h-4_5rem bef-p-0_5rem'
      "
      [emptyClasses]="
        'bef bef-d-flex  bef-borderBottom-0_25rem__solid__oranvo  bef-rt-5px bef-bg-white bef-w-15rem bef-h-4_5rem bef-p-0_5rem'
      "
    ></generic-span>
    <div class="bef bef-w-3rem"></div>
    <generic-span
      [title]="'Liraglutida + Modificación de Estilo de Vida'"
      [titleClasses]="'bef bef-d-flex fleDir-column jusCon-between aliIte-center'"
      [textClasses]="'bef bef-m-0 bef-fontWeight-700'"
      [info]="'$' + totalAnualCostPlusLiraglutide"
      [filledClasses]="
        'bef bef-d-flex  bef-borderBottom-0_25rem__solid__oranvo bef-rt-5px bef-bg-white bef-w-15rem bef-h-4_5rem bef-p-0_5rem'
      "
      [emptyClasses]="
        'bef bef-d-flex  bef-borderBottom-0_25rem__solid__oranvo  bef-rt-5px bef-bg-white bef-w-15rem bef-h-4_5rem bef-p-0_5rem'
      "
    ></generic-span>
  </div>
  <ngx-charts-bar-vertical-2d
    class="bef bef-mx-auto bef-d-block bef-w-350px"
    [view]="view"
    [scheme]="colorScheme"
    [results]="multi"
    [gradient]="gradient"
    [xAxis]="showXAxis"
    [yAxis]="showYAxis"
    [legend]="showLegend"
    [showXAxisLabel]="showXAxisLabel"
    [showYAxisLabel]="showYAxisLabel"
    [xAxisLabel]="xAxisLabel"
    [yAxisLabel]="yAxisLabel"
    [legendTitle]="legendTitle"
    [barPadding]="barPadding"
    [showDataLabel]="showDataLabel"
    [yScaleMax]="yScaleMax"
    (select)="onSelect($event)"
    (activate)="onActivate($event)"
    (deactivate)="onDeactivate($event)"
  >
  </ngx-charts-bar-vertical-2d>
</section>
