<main>
  <section class="bef bef-bg-nord bef-w-50per bef-h-100per">
    <div
      class="bef bef-d-flex jusCon-center aliIte-center bef-w-auto bef-w-100per bef-h-100per"
    >
      <div
        class="bef bef-d-flex fleDir-column jusCon-center bef-w-100per aliIte-center bef bef-py-10rem bef-px-4rem"
      >
        <div
          [innerHTML]="logo | safeHtml"
          class="bef bef-w-5rem bef-h-5rem bef-mb-1rem"
        ></div>
        <form action="" class="bef bef-d-flex fleDir-column">
          <generic-input
            [containerClasses]="containerClasses"
            [labelTitle]="'Nombre de usuario o correo'"
            [thingFather]="loginCredentials"
            [thing]="'email'"
            [type]="'text'"
            (changesInput)="recoverChangesFromInput($event)"
            [spans]="[
              {
                text: 'El nombre de usuario o correo es requerido',
                evalThing: 'required',
                spanClass: spanClass
              }
            ]"
          ></generic-input>
          <generic-input
            type="password"
            [containerClasses]="containerClasses"
            [labelTitle]="'Contraseña'"
            [thingFather]="loginCredentials"
            [thing]="'password'"
            (changesInput)="recoverChangesFromInput($event)"
            [spans]="[
              {
                text: 'La contraseña es requerida',
                evalThing: 'required',
                spanClass: spanClass
              }
            ]"
          ></generic-input>
          <generic-input
            type="select"
            [containerClasses]="containerClasses"
            [labelTitle]="'Institución'"
            [thingFather]="loginCredentials"
            [thing]="'institution'"
            (changesInput)="recoverChangesFromInput($event)"
            [options]="[
              { type: 'option', option: 'Elige una opción', click: '' },
              { type: 'option', option: 'Público', click: 'public' },
              { type: 'option', option: 'Privado', click: 'private' }
            ]"
            [spans]="[
              {
                text: 'Es necesario elegir una opción válida.',
                evalThing: 'required',
                spanClass: spanClass
              }
            ]"
          ></generic-input>
          <div class="bef bef-d-flex jusCon-center">
            <generic-button
              [buttonClass]="
                'bef-d-flex aliIte-center texAli-center jusCon-center bef-w-21rem bef bef-fs-16px bef-p-0_5rem'
              "
              [buttonBGColor]="'novo'"
              [buttonInner]="arrowRight"
              [buttonTextColor]="'white'"
              [buttonType]="'rounded'"
              (buttonClick)="submit()"
            ></generic-button>
          </div>
        </form>
        <div class="bef bef-mt-3rem">
          <span class="bef bef-fs-16px"
            >¿Aun no tienes cuenta?<a
              class="bef bef-ms-1rem bef-color-novo"
              href="/auth/register"
              >Registrate</a
            ></span
          >
        </div>
      </div>
    </div>
  </section>
</main>
