<section class="bef bef-mb-2rem bef-p-1rem">
  <div class="bef bef-p-1rem bef-my-3rem mat-elevation-z4">
    <generic-input
      type="select"
      [containerClasses]="'bef bef-d-block bef-m-auto bef-w-205px'"
      [labelTitle]="'Seleccionar el horizonte temporal'"
      [thingFather]="{ year: year }"
      [thing]="'year'"
      (changesInput)="year = $event.year"
      [options]="[
        { type: 'option', option: '1 año', click: '1' },
        { type: 'option', option: '2 años', click: '2' },
        { type: 'option', option: '3 años', click: '3' },
        { type: 'option', option: '4 años', click: '4' },
        { type: 'option', option: '5 años', click: '5' },
        { type: 'option', option: '6 años', click: '6' },
        { type: 'option', option: '7 años', click: '7' },
        { type: 'option', option: '8 años', click: '8' },
        { type: 'option', option: '9 años', click: '9' },
        { type: 'option', option: '10 años', click: '10' }
      ]"
    ></generic-input>
    <h3
      class="bef bef-fs-16px texAli-center bef-color-novo bef-pt-1rem bef-mb-0 bef-h-auto worBre-breakMINword"
    >
      Después de
      <span
        class="bef bef-textDecoration-underline__2px__solid__novo bef-fontWeight-900"
        >"{{ year }}"</span
      >
      años de tratamiento, el uso de Liraglutida 3.0 mg evitó que...<sup>8</sup>
    </h3>
    <div class="bef bef-d-flex jusCon-between aliIte-center">
      @for(result of results; track result; let i = $index) {
      <div class="bef bef-d-flex fleDir-column aliIte-center bef-w-33_33per">
        <h4 class="bef bef-d-flex jusCon-center bef-w-100per bef-color-novo">
          <span
            class="bef bef-textDecoration-underline__2px__solid__novo bef-fontWeight-900"
            >{{ year }}</span
          >
          paciente(s) desarrollaran
          <br />
          {{ result.name }}
        </h4>
        <div class="bef bef-d-flex fleDir-row jusCon-center">
          <!-- <generic-people-chart
              [chartData]="result.chart"
            ></generic-people-chart> -->
        </div>
      </div>
      }
    </div>
    <!--
    <mat-tab-group (selectedTabChange)="cssCreate()">
      @for(result of results; track result; let i = $index) {
      <mat-tab label="{{ result.name }}">
        <div class="bef bef-d-flex fleDir-column aliIte-center">
          <h4 class="bef bef-d-flex jusCon-center bef-w-100per">
            {{ result.name }}
          </h4>
          <div class="bef bef-d-flex fleDir-row jusCon-center">
            <generic-people-chart
              [chartData]="result.chart"
            ></generic-people-chart>
          </div>
        </div>
      </mat-tab>
      }
    </mat-tab-group>
    -->
  </div>
  <div
    class="bef bef-d-flex jusCon-fleEnd aliIte-center bef-mt-MIN375px bef-me-MIN150px bef-mb-75px"
  >
    <div
      class="bef bef-w-180px bef-d-inline"
      [innerHTML]="person | safeHtml"
    ></div>
  </div>
  <!-- Charts -->
  <!-- <div class="bef bef-d-flex bef-jusCon-center aliIte-center wrap-wrap">
    @for (result of results; track result.name; let i = $index) {
    <div class="bef bef-w-275px bef-d-block bef-mx-auto">
      <h4
        class="bef bef-w-75per bef-wordBreak-breakMINword bef-textAlign-center bef-mx-auto bef-mb-1rem bef-d-block bef-h-100px"
      >
        {{ result.name }}
      </h3>
      <ngx-charts-line-chart
        class="bef bef-mx-auto bef-d-block bef-w-275px"
        [view]="view"
        [scheme]="colorScheme"
        [legend]="legend"
        [legendPosition]="legendPosition"
        [legendTitle]="legendTitle"
        [showXAxisLabel]="showXAxisLabel"
        [showYAxisLabel]="showYAxisLabel"
        [xAxis]="xAxis"
        [yAxis]="yAxis"
        [xAxisLabel]="xAxisLabel"
        [yAxisLabel]="yAxisLabel"
        [timeline]="timeline"
        [results]="result.chart"
        (select)="onSelect($event)"
        (activate)="onActivate($event)"
        (deactivate)="onDeactivate($event)"
      >
      </ngx-charts-line-chart>
    </div>
    }
  </div> -->
</section>
