main {
  background: #020205;
  width: 100vw;
  background-image: url('../../../../assets/img/Novo-Nordisk_Signin_bg.jpg');
  background-position: right top;
  background-size: 110px 100vh;
  background-repeat: no-repeat;
}
