<main>
  <div class="bef bef-p-2rem bef-bg-nord bef-h-100per bef-w-87vw bef-pb-5rem">
    <a
      class="bef bef-color-novo bef-px-1rem bef-textDecoration-none bef-d-flex aliIte-center jusCon-fleStart jusSel-start aliSel-start"
      href="/"
      [routerLink]="['/']"
      routerLinkActive="router-link-active"
    >
      <span
        class="bef bef-h-24px bef-me-1rem"
        [innerHTML]="arrowLeft | safeHtml"
      ></span>
      Regresar</a
    >
    <patient-estimation
      [patientsPercentage]="calculatorData.patientsPercentage"
      [patients]="calculatorData.patients"
      [totalPopulation]="calculatorData.totalPopulation"
      (totalPopulationChange)="totalPopulationChange($event)"
    >
    </patient-estimation>
    <obesity-degrees
      [obesityDegrees]="calculatorData.obesityDegrees"
      [obesityText]="calculatorData.obesityText"
      [obesityPatientsPercentage]="calculatorData.obesityPatientsPercentage"
      [obesityPatients]="calculatorData.obesityPatients"
      (obesityDegreesChange)="degreesChange($event)"
    >
    </obesity-degrees>
    <comorbidities
      [needsComorbidities]="calculatorData.needsComorbidities"
      [comorbidities]="calculatorData.comorbidities"
      [comorbiditiesText]="calculatorData.comorbiditiesText"
      [comorbiditiesPatientsPercentage]="
        calculatorData.comorbiditiesPatientsPercentage
      "
      [comorbiditiesPatients]="calculatorData.comorbiditiesPatients"
      [populationTotal]="calculatorData.populationTotal"
      (needsComorbiditiesChange)="needsComorbiditiesChange($event)"
      (comorbiditiesChange)="comorbiditiesChange($event)"
    >
    </comorbidities>
    <liraglutide-cost
      [anualCost]="
        calculatorData.institution === 'private'
          ? config.privateAnualCost
          : config.publicAnualCost
      "
    ></liraglutide-cost>
    <treatment-cost
      [institution]="calculatorData.institution"
      [unitCost]="
        calculatorData.institution === 'private'
          ? config.privateUnitCost
          : config.publicUnitCost
      "
      [anualCost]="
        calculatorData.institution === 'private'
          ? config.privateAnualCost
          : config.publicAnualCost
      "
      (unitCostChange)="unitCostChange($event)"
    >
    </treatment-cost>
    <anual-treatment-cost
      [nutritionMonths]="calculatorData.nutritionMonths"
      [infirmaryMonths]="calculatorData.infirmaryMonths"
      [psychologyMonths]="calculatorData.psychologyMonths"
      [physicalActivityMonths]="calculatorData.physicalActivityMonths"
      [nutritionUnitCost]="
        calculatorData.institution === 'private'
          ? config.privateNutritionUnitCost
          : config.publicNutritionUnitCost
      "
      [infirmaryUnitCost]="
        calculatorData.institution === 'private'
          ? config.privateInfirmaryUnitCost
          : config.publicInfirmaryUnitCost
      "
      [psychologyUnitCost]="
        calculatorData.institution === 'private'
          ? config.privatePsychologyUnitCost
          : config.publicPsychologyUnitCost
      "
      [physicalActivityUnitCost]="
        calculatorData.institution === 'private'
          ? config.privatePhysicalActivityUnitCost
          : config.publicPhysicalActivityUnitCost
      "
      [totalAnualCost]="calculatorData.totalAnualCost"
      [totalAnualCostPlusLiraglutide]="
        calculatorData.totalAnualCostPlusLiraglutide
      "
      (monthChange)="anualCostChange($event[1], $event[0])"
    >
    </anual-treatment-cost>
    <archieve-goal-patients
      [lifeStyleModification]="calculatorData.lifeStyleModification"
      [liraglutideNLifeStyleModification]="
        calculatorData.liraglutideNLifeStyleModification
      "
      (treatmentGoalPercentageChange)="
        calculatorData.treatmentGoalPercentage = $event; treatmentGoalToChange()
      "
    ></archieve-goal-patients>
    <liraglutide-and-lifestyle-modification></liraglutide-and-lifestyle-modification>
    <patients> </patients>
  </div>
</main>
