<section
  class="bef bef-mb-2rem bef-d-flex jusCon-fleEnd bef-p-1rem bef-me-6_5rem wrap-wrap"
>
  <div
    class="bef bef-d-flex fleDir-column bef-me-4rem bef-ms-1rem bef-w-calcSD50per__MIN__6remED aliIte-end"
  >
    @for (degree of [grade1, grade2, grade3]; track degree; let i = $index) {
    <generic-input
      class="bef bef-w-50per"
      [type]="'checkbox'"
      [buttonClasses]="'bef bef-bw-0 bef-w-100per'"
      [checkBoxTrueClasses]="trueClasses"
      [checkBoxFalseClasses]="falseClasses"
      [thingFather]="obesityDegrees"
      thing="grade{{ i + 1 }}"
      (changesInput)="degreesClick($event)"
    >
      <div
        [innerHTML]="degree | safeHtml"
        class="bef-d-flex fleDir-row bef-w-100per bef-h-100per jusCon-fleStart"
      ></div>
    </generic-input>
    }
  </div>
  <div
    class="bef bef-d-flex aliIte-center fleDir-column bef-p-1rem bef-w-calcSD50per__MIN__2remED aliIte-start"
  >
    <h2 class="bef bef-mb-2rem bef-hmn-4rem">
      <span class="bef bef-opacity-0_5"> Pacientes con obesidad </span>
      <span class="bef bef-borderBottom-1px__solid__novo bef-text-novo">
        {{ obesityText }}
      </span>
    </h2>
    <div class="bef bef-d-flex fleDir-row">
      <generic-span
        [filledClasses]="filledClasses"
        [emptyClasses]="emptyClasses"
        [textClasses]="'bef bef-color-novo'"
        [info]="'65478'"
      >
      </generic-span>
      <div [innerHTML]="arrowRight | safeHtml"></div>
      <generic-span
        [filledClasses]="filledClasses"
        [emptyClasses]="emptyClasses"
        [textClasses]="'bef bef-color-novo'"
        [info]="'7894750'"
      >
      </generic-span>
    </div>
  </div>
</section>
