<section class="bef bef-mb-5rem bef-h-100per">
  <h2 class="bef bef-text-novo bef-fontWeight-700 bef-d-flex jusCon-center">SELECCIONAR COMORBILIDADES</h2>
  <div class="bef bef-bg-white">
    <div class="bef bef-d-flex aliIte-center jusCon-center bef-p-1rem bef-px-2_5rem bef-pb-0 bef-ms-20px">
      <h3
        class="bef bef-color-novo bef-d-flex aliIte-center jusCon-center bef-fontWeight-700 bef-p-0 bef-h-3rem bef-m-0"
      >
        ¿CONSIDERAR COMORBILIDADES?
      </h3>
      <generic-input
        [type]="'checkbox'"
        [checkBoxFalseClasses]="falseClasses"
        [checkBoxTrueClasses]="trueClasses"
        [thingFather]="{ needs: needsComorbidities }"
        [thing]="'needs'"
        (changesInput)="needsComorbiditiesChange.emit($event.needs)"
      >
        <div [innerHTML]="thumbsUp | safeHtml" class="bef bef-d-flex jusCon-center aliIte-center"></div>
      </generic-input>
      <generic-input
        [type]="'checkbox'"
        [checkBoxTrueClasses]="falseClasses"
        [checkBoxFalseClasses]="trueClasses"
        [thingFather]="{ needs: needsComorbidities }"
        [thing]="'needs'"
        (changesInput)="needsComorbiditiesChange.emit($event.needs)"
      >
        <div [innerHTML]="thumbsDown | safeHtml" class="bef bef-d-flex jusCon-center aliIte-center"></div>
      </generic-input>
    </div>

  <div
    class="bef bef-d-flex jusCon-center aliIte-center bef-h-17rem fleDir-row bef-w-auto bef-p-1rem"
  >


    <div
      class="bef bef-d-flex fleDir-column jusCon-center bef-h-100per bef-w-13rem bef-me-1rem bef-ms-1rem"
    >


      @for (comorbiditie of [hipertension, dislipidemia, prediabetes]; track
      comorbiditie; let i = $index) {
      <generic-input
        class="bef bef-w-100per"
        [type]="'checkbox'"
        [buttonClasses]="'bef bef-bw-0 bef-h-auto bef-w-192px bef-m-0_3rem'"
        [checkBoxTrueClasses]="trueColors"
        [checkBoxFalseClasses]="falseColors"
        [thingFather]="comorbidities"
        thing="{{ comorbiditiesName[i] }}"
        (changesInput)="comorbiditiesChange.emit($event)"
      >
        <div
          [innerHTML]="comorbiditie | safeHtml"
          class="bef-d-flex bef-w-100per bef-h-100per jusCon-center aliIte-center"
        ></div>
      </generic-input>

      }
    </div>

    <div class="bef bef-d-flex fleDir-column jusCon-center bef-p-1rem bef-w-50per">
      <h4 class="bef bef-hmn-4rem bef-m-0">
        <span class="bef bef-opacity-0_5">Pacientes con obesidad </span><br />
        <span
          [innerHTML]="comorbiditiesText | safeHtml"
          class="bef bef-borderBottom-1px__solid__novo bef-text-novo"
        ></span>
      </h4>
      <div class="bef bef-d-flex fleDir-row">
        <generic-span
          class="bef bef-w-30per bef-wmx-50per"
          [filledClasses]="filledClasses"
          [emptyClasses]="emptyClasses"
          [textClasses]="'bef bef-color-novo bef-fs-20px'"
          [info]="
            (comorbiditiesPatientsPercentage
              | math : [{ operation: 'roundDigit', value: 2 }]) + '%'
          "
        >
        </generic-span>
        <div class="bef bef-mx-5per" [innerHTML]="arrowRight | safeHtml" class="bef bef-d-flex jusCon-center aliIte-center bef-m-20px"></div>
        <generic-span
          class="bef bef-w-160px"
          [filledClasses]="filledClasses"
          [emptyClasses]="emptyClasses"
          [textClasses]="'bef bef-color-novo bef-fs-20px'"
          [info]="comorbiditiesPatients | math : [{ operation: 'round' }]"
        >
        </generic-span>
      </div>
    </div>
    <div class="bef fleDir-column bef-d-flex jusCon-center aliIte-center ">
      <generic-span
      class="bef bef-w-80per"
      [filledClasses]="'bef  bef-mb-10px texAli-center'"
      [textClasses]="'bef bef-fs-1_2rem bef-fontWeight-BOLD bef-color-oranvo'"
      [info]="'POBLACIÓN OBJETIVO'"
        ></generic-span>
        <generic-span
      class="bef bef-w-160px "
      [filledClasses]="
        'bef bef-bg-oranvo bef-d-flex jusCon-center aliIte-center bef-bsb-solid bef-bcb-novo bef-h-2_5rem bef-p-0_5rem bef-rt-0_5px'
      "
      [emptyClasses]="'bef bef-d-flex jusCon-center aliIte-center bef-bsb-solid bef-bcb-novo bef-rt-0_5px bef-bg-oranvo  bef-h-2_5rem  bef-p-0_5rem'"
      [textClasses]="'bef bef-fs-20px bef-color-white bef-fontWeight-700'"
      [info]="populationTotal | math : [{ operation: 'round' }]"
        ></generic-span>
    </div>

  </div>
  </div>

  <div
    class="bef bef-d-flex aliIte-center {{
      needsComorbidities ? 'bef-mt-MIN2rem' : 'bef-mt-2rem'
    }} bef-me-6rem fleDir-row jusCon-fleEnd"
  >

  </div>
</section>
<div
  class="bef bef-d-flex jusCon-fleEnd aliIte-center bef-mt-MIN275px bef-me-MIN200px"
>
  <div
    class="bef bef-w-200px bef-d-inline"
    [innerHTML]="bascula | safeHtml"
  ></div>
</div>
