<section class="bef bef-mb-5rem">
  <div class="bef bef-d-flex">
    <h2
      class="bef bef-color-novo bef-fontWeight-900 bef-p-0 bef-h-3rem bef-pt-1rem bef-me-3rem bef-mb-0"
    >
      ¿CONSIDERAR COMORBILIDADES?
    </h2>
    <generic-input
      [type]="'checkbox'"
      [checkBoxFalseClasses]="falseClasses"
      [checkBoxTrueClasses]="trueClasses"
      [thingFather]="{ needs: needsComorbidities }"
      [thing]="'needs'"
      (changesInput)="needsComorbiditiesChange.emit($event.needs)"
    >
      <div [innerHTML]="thumbsUp | safeHtml"></div>
    </generic-input>
    <generic-input
      [type]="'checkbox'"
      [checkBoxTrueClasses]="falseClasses"
      [checkBoxFalseClasses]="trueClasses"
      [thingFather]="{ needs: needsComorbidities }"
      [thing]="'needs'"
      (changesInput)="needsComorbiditiesChange.emit($event.needs)"
    >
      <div [innerHTML]="thumbsDown | safeHtml" class=""></div>
    </generic-input>
  </div>
  @if (needsComorbidities) {
  <div
    class="bef bef-d-flex bef-bg-white bef-h-17rem fleDir-row bef-w-auto bef-p-1rem"
  >
    <h3
      class="bef bef-d-flex jusCon-fleStart aliIte-center bef-w-20per bef-p-1rem bef-me-1rem bef-color-novo"
    >
      SELECCIONAR <br />COMORBILIDADES
    </h3>

    <div
      class="bef bef-d-flex fleDir-column jusCon-center bef-h-100per bef-w-13rem bef-me-4rem bef-ms-1rem"
    >
      @for (comorbiditie of [hipertension, dislipidemia, prediabetes]; track
      comorbiditie; let i = $index) {
      <generic-input
        class="bef bef-w-100per"
        [type]="'checkbox'"
        [buttonClasses]="'bef bef-bw-0 bef-h-auto bef-w-100per bef-m-0_3rem'"
        [checkBoxTrueClasses]="trueColors"
        [checkBoxFalseClasses]="falseColors"
        [thingFather]="comorbidities"
        thing="{{ comorbiditiesName[i] }}"
        (changesInput)="comorbiditiesChange.emit($event)"
      >
        <div
          [innerHTML]="comorbiditie | safeHtml"
          class="bef-d-flex bef-w-100per bef-h-100per jusCon-center aliIte-center"
        ></div>
      </generic-input>
      }
    </div>

    <div class="bef bef-d-flex fleDir-column bef-p-1rem bef-w-50per">
      <h2 class="bef bef-hmn-4rem">
        <span class="bef bef-opacity-0_5">Pacientes con obesidad </span><br />
        <span
          [innerHTML]="comorbiditiesText | safeHtml"
          class="bef bef-borderBottom-1px__solid__novo bef-text-novo"
        ></span>
      </h2>
      <div class="bef bef-d-flex fleDir-row">
        <generic-span
          class="bef bef-w-30per bef-wmx-50per"
          [filledClasses]="filledClasses"
          [emptyClasses]="emptyClasses"
          [textClasses]="'bef bef-color-novo'"
          [info]="
            (comorbiditiesPatientsPercentage
              | math : [{ operation: 'roundDigit', value: 2 }]) + '%'
          "
        >
        </generic-span>
        <div class="bef bef-mx-5per" [innerHTML]="arrowRight | safeHtml"></div>
        <generic-span
          class="bef bef-w-30per bef-wmx-50per"
          [filledClasses]="filledClasses"
          [emptyClasses]="emptyClasses"
          [textClasses]="'bef bef-color-novo'"
          [info]="comorbiditiesPatients | math : [{ operation: 'round' }]"
        >
        </generic-span>
      </div>
    </div>
  </div>
  }
  <div
    class="bef bef-d-flex aliIte-center {{
      needsComorbidities ? 'bef-mt-MIN2rem' : 'bef-mt-2rem'
    }} bef-me-6rem fleDir-row jusCon-fleEnd"
  >
    <generic-span
      class="bef bef-w-180px"
      [filledClasses]="'bef'"
      [textClasses]="'bef bef-fs-1_5rem bef-fontWeight-BOLD bef-color-oranvo'"
      [info]="'POBLACIÓN OBJETIVO'"
    ></generic-span>
    <generic-span
      class="bef bef-w-180px bef-wmx-50per"
      [filledClasses]="
        'bef bef-bg-oranvo bef-d-flex jusCon-center aliIte-center bef-bsb-solid bef-h-2_5rem bef-p-0_5rem bef-rt-2px'
      "
      [emptyClasses]="emptyClasses"
      [textClasses]="'bef bef-fs-1_5rem bef-color-white'"
      [info]="populationTotal | math : [{ operation: 'round' }]"
    ></generic-span>
  </div>
  <div
    class="bef bef-d-flex jusCon-fleEnd aliIte-center bef-mt-MIN250px bef-me-MIN125px"
  >
    <div
      class="bef bef-w-180px bef-d-inline"
      [innerHTML]="bascula | safeHtml"
    ></div>
  </div>
</section>
