<!-- Puse por mientras los componentes genéricos aquí porque no se si haremos páginas separadas -->

<generic-button
  [buttonId]="'1'"
  [buttonInner]="'Este es un botón'"
  [buttonBGColor]="'novo'"
  [buttonTextColor]="'white'"
  [buttonClass]="' bef-p-1rem '"
  [buttonType]="'rounded'"
  (buttonClick)="buttonClick($event)"
  (getButtonId)="getButtonId($event)"
></generic-button>

<div>
  <app-button buttonText="Iniciar sesión" bg="blue"></app-button>
  <app-button buttonText="Registrarse" bg=""></app-button>
</div>

<app-input
  lableName="Escriba su nombre"
  typeName="text"
  placeHolderName="José"
></app-input>
<app-input
  lableName="Escriba sus apellidos"
  typeName="text"
  placeHolderName="Pérez"
></app-input>
<app-input
  lableName="Escriba su teléfono"
  typeName="number"
  placeHolderName="55-99-66-35"
></app-input>
<app-input
  lableName="Escriba su correo"
  typeName="email"
  placeHolderName="José@mail.com"
></app-input>
<app-input
  lableName="Escriba su nombre de usuario"
  typeName="text"
  placeHolderName="Joselo"
></app-input>
<app-input lableName="Escriba su contraseña" typeName="password"></app-input>
