<section class="bef bef-mb-2rem bef-p-1rem">
  <h2
    class="bef bef-color-novo bef-fontWeight-700 bef-pt-1rem bef-me-3rem bef-m-0 bef-h-auto worBre-breakWord texTra-uppercase texAli-center"
  >
    <span class="bef bef-fs-2rem bef-color-rovo">
      <u>
        {{ times | math : [{ operation: "roundDigit", value: 2 }] }}
      </u>
    </span>
    VECES MÁS PACIENTES CON LIRAGLUTIDA LOGRAN LAS METAS DE PÉRDIDA DE PESO
  </h2>
  <div class="bef bef-d-flex bef-jusCon-center aliIte-center wrap-wrap">
    @for (results of
    [lifeStyleModificationResults,liraglutideAndLifeStyleModificationResults ];
    track results[0].name; let i = $index) {
    <div class="bef bef-w-300px bef-d-block bef-mx-auto bef-mb-1rem">
      <h3
        class="bef bef-w-75per bef-wordBreak-breakMINword bef-textAlign-center bef-mx-auto bef-mb-0 bef-d-block"
      >
        {{
          i === 1
            ? "Liraglutida + Modificación de Estilo de Vida"
            : "Modificación de Estilo de Vida"
        }}
      </h3>
      <ngx-charts-pie-chart
        class="bef bef-mx-auto bef-d-block bef-w-300px"
        [view]="view"
        [scheme]="colorSchemes[i]"
        [results]="results"
        [gradient]="gradient"
        [legend]="showLegend"
        [legendPosition]="legendPosition"
        [legendTitle]="legendTitle"
        [labels]="showLabels"
        [doughnut]="isDoughnut"
        (select)="onSelect($event)"
        (activate)="onActivate($event)"
        (deactivate)="onDeactivate($event)"
      >
      </ngx-charts-pie-chart>
    </div>
    }
  </div>
  <div
    class="bef bef-d-flex jusCon-fleEnd aliIte-center bef-mt-MIN250px bef-me-MIN150px"
  >
    <div
      class="bef bef-w-180px bef-d-inline"
      [innerHTML]="person | safeHtml"
    ></div>
  </div>
</section>
