<section
  class="bef bef-mb-2rem bef-d-flex fleDir-row wrap-wrap bef-w-auto bef-p-1rem"
>
  <h3
    class="bef bef-w-20per bef-color-novo bef-fontWeight-900 bef-pt-1rem bef-me-2rem bef-mb-0 bef-h-auto"
  >
    COSTO DE <wbr />TRATAMIENTO
  </h3>
  <div class="bef bef-d-flex jusCon-center aliIte-stretch">
    <div>
      @for (thermo of [thermo1, thermo2, thermo1]; track thermo) {
      <div
        class="bef bef-w-14rem bef-py-1rem"
        [innerHTML]="thermo | safeHtml"
      ></div>
      }
    </div>
    <div class="bef bef-w-4rem bef-bg-accentNord"></div>
  </div>
  <div class="bef bef-w-40per bef-flexGrow-0_5">
    <div>
      @for (treatmentTitle of treatmentTitles; track treatmentTitle.title) {
      <h3 class="bef bef-d-flex jusCon-between bef-me-0 aliCon-stretch bef-text-novo">
        <span class="bef bef-ms-1rem bef-w-35per bef-fontWeight-400 bef-d-flex jusCon-fleStart">{{
          treatmentTitle.title
        }}</span>
        <span class="bef bef-w-55per bef-fw-BOLD bef-d-flex jusCon-fleStart">{{
          treatmentTitle.description
        }}</span>
      </h3>
      }
    </div>
    <div class="bef bef-d-flex fleDir-row jusCon-center bef-w-100per">
      <generic-span

        [filledClasses]="filledClasses"
        [emptyClasses]="emptyClasses"
        [textClasses]="'bef bef-color-novo'"
        [info]="'Costo unitario $245'"
      >
      </generic-span>
      <generic-span
        [filledClasses]="filledClasses"
        [emptyClasses]="emptyClasses"
        [textClasses]="'bef bef-color-novo'"
        [info]="'Costo anual $4,763.89'"
      >
      </generic-span>
    </div>
  </div>
</section>
