<section class="bef bef-mb-2rem bef-p-1rem">
  <h2
    class="bef bef-color-novo bef-fontWeight-900 bef-pt-1rem bef-me-3rem bef-mb-0 bef-h-auto worBre-breakWord"
  >
    COSTO POR PACIENTE QUE LOGRA LA META TERAPÉUTICA
  </h2>

  <ngx-charts-bar-vertical
    class="bef bef-mx-auto bef-d-block bef-w-500px"
    [view]="view"
    [scheme]="colorScheme"
    [results]="multi"
    [gradient]="gradient"
    [xAxis]="showXAxis"
    [yAxis]="showYAxis"
    [legend]="showLegend"
    [showXAxisLabel]="showXAxisLabel"
    [showYAxisLabel]="showYAxisLabel"
    [xAxisLabel]="xAxisLabel"
    [yAxisLabel]="yAxisLabel"
    [legendTitle]="legendTitle"
    [legendPosition]="legendPosition"
    [barPadding]="barPadding"
    [showDataLabel]="showDataLabel"
    [yScaleMax]="yScaleMax"
    (select)="onSelect($event)"
    (activate)="onActivate($event)"
    (deactivate)="onDeactivate($event)"
  >
  </ngx-charts-bar-vertical>
</section>
